@charset "utf-8";
// CSS Document

*{
  // border: 1px solid gray;
  margin: 0;
  padding: 0;
}


body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Poppins';
    color: #3B8686;
    overflow-x: hidden;
}

/*navbar */
nav{
  display: flex;
  background-color: #79bd9a;
  justify-content: space-around;
  // padding: 30px 0;
  align-items: center;
}

nav .logo {
  display: flex;
  align-items: center;

}

nav .menu{
  display: flex;
  // background-color: #FF0000;
  list-style:none;
  width: 40%;
  justify-content: space-around;
}

nav .menu li a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
} 

nav .menu li a:hover{
  color: gray;
}

/* Hamburger Menu */
.menu-toggle {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}


.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}
/*Hamburger Menu Animation*/

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}


.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px ,0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}


/* Responsive Breakpoint*/

/* ukuran table*/

@media screen and (max-width :768px){
  nav .menu {
    width: 60%;
  }
}

/*ukuran mobile*/ 
@media screen and (max-width: 576px){
  .menu-toggle {
    display: flex;
  }
  nav .menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: black;
    z-index: -1;
    background-color: #79bd9a;
    transform: translateX(100%);
    transition: all 1s;
  }

  nav .menu.slide{
    opacity: 1;
    transform: translateX(0);
  }


}






/*ukuran mobile */


// .menu {
//   display: flex;
// }

// .menu li {
//   list-style: none;
//   display: inline-block;
// }
// .menu li a{
//   padding: 10px 15px;
//   color: #3B8686;
//   font-size: 16px;
 
  
// }

// .menu li a:hover {
//   background-color: #79BD9A;
//   color: #ffffff;
//   font-weight: 700;
// }

.main{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  background-image: url("/frontend/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  margin-top: 100px ;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  box-sizing: border-box;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
  padding: 10px 15px;
  z-index: 1;

}


.name {
  font-family: "Poppins" ;
  margin-top: 100px;
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%,-50%);
  box-sizing: border-box;

}

.name p:nth-child(1),
.name .details {
    color: #3B8686;
    font-size: 16px;
    

}

.name {
  
  h1 {
    span{
      color: #79BD9A;
    }
    font-family: 'Poppins';
    font-size: 35px;
    margin: 0px;
    margin-top: -180px;
    margin-left: 50px;
    letter-spacing: 3px;
    width: 600px;
  }

  h3 {
    span{
      color:#79bd9a;
    }
    margin-top: 10px;
    font-size: large;
    margin-left: 50px;
    
  }

}



.btn.btn-email{
    margin-top: 30px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 1rem;  
    padding: 12px;
    letter-spacing: 1px;
    background-color : #3B8686;
    color: #ffffff;
    font-weight: normal;
}   

.btn.btn-email:hover{
    background-color: #1f4b4b;
    color: white;
    transition: all ease 0.5s;

  }


.social {
    margin-left: 185px;    
    margin-top: -55px;
    width: 400px;
}
  .social .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    
  }
  .social .button:hover{
    width: 200px;
  }
  .social .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .social .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .social .button:nth-child(2):hover .icon{
    // background: #F51A72;
    background: radial-gradient(circle at 30% 107%,
     #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 
     60%,#285AEB 90%);
  }
  .social .button:nth-child(3):hover .icon{
    background: #FF0000;
  }
  
  
  
  .social .button:nth-child(4):hover .icon{
    background: #ff0000;
  }
  .social .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .social .button:hover .icon i{
    color: #fff;
  }
  .social .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 20px;
    transition: all 0.3s ease-out;
  }
  .social .button:nth-child(1) span{
    color: #4267B2;
  }
  .social .button:nth-child(2) span{
    color: #F51A72;
  }
  .social .button:nth-child(3) span{
    color: #FF0000;
  }
  .social .button:nth-child(4) span{
    color: #ff0000;
  }

 
  .about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    line-height: 1.8;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px;
    margin-top: -20px;
  
  }

.about-text {
  font-family: 'Poppins';
  width: 100%;
  text-align: justify;
}

.about-title h2 {
  align-items: center;
  text-align: center;
  content: "";
  z-index: -1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: rotate(-3deg);
  font-style: italic;

}

.about .about-title{
  margin-bottom: 80px;
  margin-top: 0px;
  // border: 1px solid #3B8686;
}

.about .about-title span {
  background-color: #3B8686;
  color: #fff;
  
}

.button-resume{
  font-size: 16px;
  padding: 12px;
  letter-spacing: 1px;
  background-color : #3B8686;
  color: #ffffff;
  text-align: center;
  align-content: center;
  display: inline-block;
  font-weight: normal;
  border-radius: none;
}

.button-resume :hover {
  background-color: #1f4b4b;
  color: white;
  transition: all ease 0.5s;

}

// Service section styeling 

.services .title  {
  text-align: center;
  padding: 20px;
  text-align: center;
  content: "";
  z-index: -1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: rotate(-3deg);
  background-color:#fff ;
  font-style: italic;
  margin-bottom: 80px;
  margin-top: 80px;
}

.services .title span {
  background-color: #3B8686;
  color: #fff;
  
}

.services .container { 
  width: 1200px ;
  height: 310px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}    

.services .services-content{
  width: 300px;
  height: 350px;
  position: relative;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  
}  



// .services .services-content {
//    width: 1200px;
//    height: auto; 
//    margin: 0 auto;
//    display: grid;
//    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
//    grid-gap: 10px;
//    padding: 10px;
//    box-sizing: border-box;
  
// }

// .services .services-content .box {
//   position: relative;
//   background: #ffffff;
//   padding: 20px 40px 40px;
//   text-align: center;
//   overflow: hidden;
//   border-radius: 20px;
//   display: grid;
//   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//   transition: 0.3s;

// }

.services .services-content i {
  font-size: 50px;
  color: #2f6d6d;
  padding: 20px;
}

.services .services-content  h2 {
  font-size: 20px;
  font-weight: bold;
}

.services .services-content  p {
  font-size: 15px;
  font-weight: medium;
  text-align: justify;
  padding: 10px;
}


// portfolio section

.portfolio .title {
  text-align: center;
  content: "";
  z-index: -1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: rotate(-3deg);
  font-style: italic;
}

.portfolio .title span {
  background-color: #2f6d6d;
  color: #fff;
}

.portfolio .title {
  margin-bottom: 80px;
  margin-top: 120px;
  
}

.portfolio .description-container {
  max-width: 1000px;
  // margin: 40px auto 20px;
}

.portfolio .portfolio-1 {
  max-width: 900px;
}

.portfolio .portfolio-2 {
  max-width: 900px;
  margin-left:100px;
}

.portfolio .portfolio-1 p.text-portfolio1 {
  text-align: justify;
  font-size: small;
  width: 350px;
  height: 165px;
  display: inline-block;
  overflow: auto;
  // margin-right: 500px;
}

.portfolio .portfolio-2 p.text-portfolio2 {
  text-align: justify;
  font-size: small;
  width: 350px;
  height: 165px;
  display: inline-block;
  overflow: auto;
  margin-left: 40px;
  // margin-right: 500px;
}

.portfolio h2.heading-portfolio1 {
  margin-bottom: 20px;
}

.portfolio h2.heading-portfolio2 {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 40px;
}

.portfolio .description-container .portfolio-1 {
  margin-bottom: 150px;
  margin-left: 100px;
 
}

.portfolio .description-container .portfolio-2 {
  margin-bottom: 80px;
 
}

.portfolio .description-container .floating-image {
  max-width: 500px;
  
}

.portfolio .description-container .floating-image.right {
  display: inline-block;
  width: 600px;
  height: 240px;
  float: right;
  margin-top: 60px;
  box-shadow : 0px 0px 20px gray;
}
.portfolio .description-container .floating-image.left {
  display: inline-block;
  width: 600px;
  height: 240px;
  float: left;
  margin-top: 60px;
  box-shadow : 0px 0px 20px gray;
}

.portfolio .container .description-container .portfolio-1 .button-portfolio1{
  display:inline-block;
  width: 300px;
  height: 60px;
  // background-color:yellow;

}

.portfolio .btn.btn-visit{
  font-size: 1rem;
  background-color: #3B8686;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  
}

.portfolio .btn.btn-source{
  font-size: 1rem;
  background-color: #3B8686;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
 
}

.portfolio .portfolio-2 a{
  // margin-left: 40px;
}

.portfolio .container .description-container .portfolio-2 .button-portfolio2{
  display:inline-block;
  width: 300px;
  height: 60px;
  margin-left: 40px;
  // background-color:yellow;

}
.portfolio .btn.btn-visit{
  font-size: 1rem;
  background-color: #3B8686;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;

}

.portfolio .btn.btn-source{
  font-size: 1rem;
  background-color: #3B8686;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  
}



// .portfolio{
//   margin: 0;
//   padding: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background: #ffffff;
//   font-family: 'Poppins';
// }    




// .portfolio .portfolioItem-content{

//   overflow: auto;
//   // border: 3px solid #3B8686;
//   padding: 100px;

// }

// .portfolio .portfolioItem-personal {
//   overflow: auto;
//   // border: 3px solid #FF0000;
//   padding: 20px;
  
// }

// .portfolio .heading1 {
//   margin-top: 50px;
//   margin-bottom: 30px;
// }

// .portfolio .portfolioItem-image .img-personal1{
//   width: 50%; 
//   float: right;
//   margin: 20px;
//   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

// }

// .portfolio .portfolioItem-text{
//   text-align: justify;
//   padding-right: 500px ;
//   font-size: small;
//   margin-top: 50px;
// }

// // .portfolioItem-button{
// //   margin-top: 50px;
// // }

// .btn.btn-visit{
//   font-weight: 1000 ;
//   font-size: 16px;
//   padding: 12px;
//   letter-spacing: 1px;
//   background-color : #3B8686;
//   color: #ffffff;
//   text-align: center;
//   align-content: center;
//   display: inline-block;
//   margin-right: 20px ;
//   font-weight: normal;
//   margin-top: 28px;
// }


// .btn.btn-source {
//   font-weight: 1000 ;
//   font-size: 16px;
//   padding: 12px;
//   letter-spacing: 1px;
//   background-color : #3B8686;
//   color: #ffffff;
//   text-align: center;
//   align-content: center;
//   display: inline-block;
//   font-weight: normal;
//   margin-top: 28px;

// }

// .btn.btn-source :hover{  
//   background-color: yellow;
//   color: white;
//   transition: all ease 0.5s;
// }

// .portfolio .heading2 {
//   margin-top: 50px;
//   margin-bottom: 30px;
// }

// .portfolio .portfolioItem-image2 .img-personal2{
//   width: 50%; 
//   float: left;
//   margin: 20px;
//   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//   display: block;
//   position: relative;

// }

// .portfolio .portfolioItem-text2{
//   text-align: justify;
//   padding-right: 500px ;
//   font-size: small;
//   margin-top: 50px;
//   float: left;
// }

// .portfolioItem-button{
//   margin-top: 50px;
// }

// .btn.btn-visit{
//   font-weight: 1000 ;
//   font-size: 16px;
//   padding: 12px;
//   letter-spacing: 1px;
//   background-color : #3B8686;
//   color: #ffffff;
//   text-align: center;
//   align-content: center;
//   display: inline-block;
//   margin-right: 20px ;
//   font-weight: normal;
//   margin-top: 28px;
// }


// .btn.btn-source {
//   font-weight: 1000 ;
//   font-size: 16px;
//   padding: 12px;
//   letter-spacing: 1px;
//   background-color : #3B8686;
//   color: #ffffff;
//   text-align: center;
//   align-content: center;
//   display: inline-block;
//   font-weight: normal;
//   margin-top: 28px;

// }

// .btn.btn-source :hover{  
//   background-color: yellow;
//   color: white;
//   transition: all ease 0.5s;
// }

// section-footer

  .footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;
    background: #ffffff;
    font-family: 'Poppins';
    text-align: center;
  }

  .footer .title{
    text-align: center;
    content: "";
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotate(-3deg);
    font-style: italic;
    margin-top: 50px;
  }
    
  .footer .title .heading-footer {
    background-color:#3B8686;
    color: #ffffff;
    margin-bottom: 50px;
  }
  .footer .contact span {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-top: 50px;
    color: #79BD9A;
  }
  
  .footer .far.fa-copyright {
    font-style: bold;
  }
  .footer .contact .copyright {
    font-weight: bold;
    font-size: small;
    margin-top: 30px;
  }

    /* Jika ukuran layar 680px atau kurang dari itu */
 
